.ContactInfoLocation {
    &>li {
        line-height: 150%;
    }

    & li:first-child >* {
        color: #111111;
        font-weight: 600;
        cursor: pointer;
        z-index: 1;
    }

    & li:last-child {
        color: #3F4E65;
        font-weight: 300;
        font-size: 12px;
    }
}