.ButtonWithTextAndImage {
    display: flex;
    gap: 12px;
    background-color: #FFC85E;
    padding: 22px 54px;
    border-radius: 50px;
    white-space: nowrap;
    cursor: pointer;
    z-index: 1;

    & span {
        color: white;
        font-weight: 700;
    }
}