.GoodCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px 22px;
    height: 490px;
    width: 310px;
    box-shadow: 0px 14px 39px -11px #0000000f;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 14px 39px -11px #0000005d;
    }

    &__Image {
        align-self: center;
        margin-bottom: 4px;
    }

    &__Size {
        display: flex;
        gap: 7px;
        padding-bottom: 11px;

        & span {
            font-size: 12px;
            line-height: 130%;
            color: #3F4E65;
        }
    }

    &__NameDesc {
        padding-bottom: 20px;
    }

    &__Name {
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        text-transform: uppercase;
        color: #111111;
        padding-right: 4px;
    }

    &__Description {
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #111111;
    }

    &__SubTitle {
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
        color: #3F4E65;
        padding-right: 5px;
    }

    &__Barcode,
    &__Manufacturer,
    &__Brand {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #111111;
        padding-bottom: 5px;
    }

    &__Brand {
        padding-bottom: 15px;

        &>:last-child {
            text-transform: uppercase;
        }
    }

    &__PriceAndButton {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__Price {
        white-space: nowrap;
        font-weight: 800;
        font-size: 16px;
        line-height: 130%;
        color: #111111;
    }

    &__ToCartBtn {
        width: 153px;
        height: 45px;
        gap: 5px;

        & span {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.15em;
            color: #FFFFFF;
        }
    }
}