.CategorySelectionPanel {
    width: 238px;

    &__Title {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #111111;
        padding-bottom: 10px;
    }

    &_GroupWidthDashedLine {
        display: flex;
        flex-direction: column;
        gap: 40px;


        &>li {
            position: relative;

            &:not(:last-child)::before {
                content: "";
                position: absolute;
                bottom: -20.5px;
                width: 100%;
                opacity: 0.1;
                border: 1px dashed #3F4E65;
            }
        }
    }

    &__ShowHideBtns {
        display: flex;
        gap: 10px;
        padding-top: 25px;
        padding-bottom: 20px;
    }

    &__ShowBtn {
        width: 169px;
    }
}

.SubCategoriesList {
    padding-top: 20px;

    & li {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-transform: uppercase;
        color: #111111;

        & * {
            cursor: pointer;
        }

        & label {
            display: flex;
        }

        & span {
            display: block;
            padding-left: 10px;
        }
    }
}