.InputWithButtonAndImage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EDEDED;
    width: 263px;
    height: 59px;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 50px;
    z-index: 0;

    & input {
        background-color: #EDEDED;
        font-size: 13px;

        &::placeholder {
            color: #5C6370;
            opacity: 0.6;
            font-size: 12px;
        }

        &:-webkit-autofill{
            -webkit-box-shadow: 0 0 0 30px #EDEDED inset !important;
            // -webkit-text-fill-color: #ccc !important;
            font-size: 13px;
        }
    }

    & button {
        width: 39px;
        height: 39px;
        background-color: #FFC85E;;
        border-radius: 50%;

        & img {
            padding-left: 1px;
            padding-top: 1px;
        }
    }
}