.GoodsCart {
    display: flex;
    gap: 23px;
    white-space: nowrap;

    &>li:nth-child(1) {
        position: relative;
        top: -3px;

        &>span {
            position: absolute;
            right: -10px;
            top: -1px;
            min-width: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3.7px 6px;
            background: #FFC85E;
            border: 3px solid #FFFFFF;
            border-radius: 20px;
            font-weight: 700;
            font-size: 14px;
            color: #FFFFFF;
        }

    }

    &>li:nth-child(2) {
        display: flex;
        flex-direction: column;

        &>:nth-child(1) {
            font-weight: 300;
            font-size: 12px;
            line-height: 150%;
            color: #3F4E65;
        }

        &>:nth-child(2) {
            font-weight: 600;
            line-height: 150%;
            color: #111111;
        }
    }
}