.Header {
    &>* {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            height: 100%;
            border-bottom: 1px solid #3F4E65;
            opacity: 0.2;
            z-index: -10;
        }
    }
}